.container {
  max-width: 90%;
  margin: auto;
}

.bg-color {
  background-color: rgb(247 248 250);
}

img {
  width: 100%;
}

.row {
  display: flex;
}

.text-center {
  text-align: center;
  width: 100%;
}

.font-regular {
  font-family: Barlow, sans-serif;
  font-weight: 400;
}

.col-gap {
  column-gap: 2em;
}

.font-bold {
  font-weight: 900;
}

.font-small {
  font-size: 0.8em;
}

.font-medium {
  font-size: 1em;
}

.col-fourth {
  flex-basis: 25%;
}

.icon {
  width: 25%;
}
