.container {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.current {
  color: black;
  text-decoration: underline;
}

.correct {
  color: rgb(9 194 9);
}
