hr {
  border-color: rgb(231 233 236 / 40%);
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-half {
  flex-basis: calc(100% / 2);
}

.col-fourth {
  flex-basis: calc(100% / 4);
}

.col-third {
  flex-basis: calc(100% / 3);
}

.col-sixth {
  flex-basis: calc(100% / 6);
}

.col-three-fourth {
  flex-basis: calc(100% / calc(3 / 4));
}

.link {
  color: rgb(110 110 110);
  text-decoration: none;
}

.blue-button-outline {
  background-color: rgb(41 68 100);
  color: white;
  border: none;
  border-radius: 3px;
}

.canvas-info-bar {
  background-color: rgb(82 83 81);
  padding: 8% 10%;
}

.priv-bar {
  padding: 3% 10%;
}

.nav-bar {
  padding: 1% 8%;
}

.get-started {
  padding: 10px 30px;
}

.nav-item-align {
  justify-content: right;
  align-items: center;
  text-align: center;
  column-gap: 40px;
  margin-right: 15%;
  top: 0;
  bottom: 0;
  right: 7%;
}

.bg-image {
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  width: auto;
}

.avenir-font {
  font-family: Avenir, sans-serif;
  font-weight: 500;
}

.th-font {
  font-family: "Tiempos Headline", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.th-font-fancy {
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.white-text {
  color: rgb(255 255 255);
}

.light-gray-bg {
  background-color: rgb(250 250 250);
}

.shaded-background {
  background: rgb(0 0 0 / 20%);
}

.font-x-small {
  font-size: 0.6em;
}

.font-small {
  font-size: 0.8em;
}

.font-smaller {
  font-size: smaller;
}

.font-large {
  font-size: 1.5em;
}

.font-x-large {
  font-size: 1.8em;
}

.margin-6 {
  margin: 6%;
}

.margin-auto {
  margin: auto;
}

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.t-padding-15 {
  padding-top: 15%;
}

.t-b-padding-3 {
  padding-top: 3%;
  padding-bottom: 3%;
}

.line-height {
  line-height: 1.5em;
}

.center-button {
  justify-content: right;
  align-items: center;
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.contact-padding {
  padding: 4% 8%;
}

.space-between {
  justify-content: space-between;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.third-width {
  width: 30%;
}
